$lightAsphalt: #c4c4c4;
$asphalt: #a5a5a5;
$chocolate: #a77c5d;
$chocolateActive: #997052;
$creamy: #f4e8de;
$creamyActive: #eddaca;
$deep: #332317;
$black: #000000;
$vinous: #970c0c;
$garden: #49970c;
$ocean: #0c5497;
$violet: #490c97;
$faded: rgba(151, 12, 12, 0.2);
