.footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  padding: 20px 0 6px;
  border-top: 1px solid $chocolate;
  &__wrapper {
    padding: 0 99px;
    display: flex;
    justify-content: space-between;
  }
  &__icons {
    text-align: center;
    &:hover {
      .footer__desc {
        color: $deep;
      }
      svg {
        fill: $deep;
      }
    }
    .footer__desc {
      color: $lightAsphalt;
    }
    svg {
      fill: $lightAsphalt;
    }
  }
}
