.view {
  padding-top: 24px;
  &__lists {
    list-style-type: none;
  }
  &__list {
    display: flex;
    margin-bottom: 10px;
  }
  &__subtitle {
    width: 79px;
    margin-right: 16px;
  }
  &__value {
    &-weight {
      position: relative;
      &::after {
        content: url("../icons/arrow/Variant7.svg");
        position: absolute;
        bottom: -6px;
      }
    }
  }
}
